{# src/OC/PlatformBundle/Resources/views/Default/blog.html.twig #}
{% extends "OCPlatformBundle::layout.html.twig" %}


{% block body %}

	{% for article in articles %}
		<h3>{{ article.title }}</h3>
		<p>{{ article.content|raw }}</p>
		<p><a href="{{ path('oc_platform_article', { 'id': article.id }) }}">Aperçu</a></p>
	{% endfor %}

{% endblock %}



