{# src/OC/PlatformBundle/Resources/views/Default/edition.html.twig #}
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Qui sommes-nous ?{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/nao_home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="container bodyContent">
		<h1 class="titlePage mt-30 mb-50">Qui sommes-nous?</h1>
		<div class="login mb-30">
            <h2 class="mb-10">NAO</h2>
            <p>" Nos amis les oiseaux " est une association ornithologique fondée par M. Michel Dujardin.</p>
            <p>Depuis plusieurs années, notre association a pour objectif de développer et regrouper une communauté d’ornithologues amateurs et professionnels autour de cette passion commune. Nous mettons tout en œuvre afin de favoriser les échanges entre nos utilisateurs, car nous sommes persuadés qu’ils profitent à tous et permettent à chacun d’exercer pleinement cette passion.</p>
            <p>Notre association a également développé son propre programme de recherche qui permet ainsi à chacun de contribuer à l’étude de l’état de la faune ornithologique.</p>
            
		    <h2 class="mt-30 mb-10">Que faisons-nous ?</h2>
            <p>Notre association souhaite faciliter l’accès à cette science, la rendre accessible à tous. C’est pourquoi nous proposons aujourd’hui un outil simple et pratique, permettant à chacun d’effectuer rapidement des saisies sur le terrain, ou de faire des recherches pour préparer de futures sorties d’observation.</p>
            <p>Nous avons mis au point un programme de recherche nous permettant d’étudier les effets du climat, de l’urbanisation et de l’agriculture sur les populations d’oiseaux et leurs comportements. Ce programme nous permet de fédérer nos passionnés autour d’un projet commun. En effet, les saisies validées de nos utilisateurs sont toutes utilisées pour enrichir les données de ce programme de recherche. Nous obtenons donc des résultats plus précis, plus pertinents et tout cela grâce à la collaboration de toute notre communauté.</p>
            <p>Le programme vise à recenser les oiseaux en fonction de leur espèce, du lieu et du moment de l'observation. L'ensemble des observations saisies servira à alimenter une base de donnée en vue de l'étude du comportement des oiseaux face aux différents changements tant de leur écosystème que du climat.</p>
            <p>Apprenez à reconnaître les oiseaux et comptez-les régulièrement dans votre jardin, dans un parc public, lors de balades champêtres ou même sur votre balcon !</p>
            <p>D'autres programmes ont déjà été mis en place notamment <b>l’atlas des oiseaux nicheurs de France métropolitaine</b>, un projet collectif initié par la <a class="naoLink" href="https://www.lpo.fr/"> Ligue pour la Protection des Oiseaux</a> et la <a class="naoLink" href="http://seofalauda.wixsite.com/seof"> Société d’Etudes Ornithologiques de France</a>. Les données collectées serviront également à alimenter et faire évoluer <a class="naoLink" href="https://fr.wikipedia.org/wiki/Atlas_ornithologique"> L'Atlas ornithologique</a>.</p>
            
            <h2 class="mb-10">Envie de vous investir ?</h2>
            <p>Si notre cause vous touche et que vous vous sentez concerné aussi bien par le bien être de " Nos Amis les Oiseaux " que par la grande étude que nous nous sommes proposé de mettre en place, vous pouvez nous aider soit en nous rejoignant, soit en faisant un don.</p>
            <div class="row">
                <a href="https://www.helloasso.com/" class="btn btnNaoGreen col-sm-2 col-xs-4 pull-right mr-20 mt-10">Don</a>
                <a href="https://www.helloasso.com/" class="btn btnNaoGreen col-sm-2 col-xs-4 pull-right mr-20 mt-10">Adhérer</a>
            </div>
		</div>
	</div>
{% endblock %}
