/*************** Général / Layout / Index / Media Queries ***************/

textarea {
    resize: vertical;
}

::selection{
  background-color: #FFA340;
  color: #38001C;
}

::-moz-selection {
  background-color: #FFA340;
  color: #38001C;
}

.bodyContent {
    margin-top: 20px;
    min-height: 77vh;
}

.btnNaoGreen {
    background-color: #017a74;
    color: #fff;
}
.btnNaoGreen:hover {
    background-color: #046a65;
    color: #fff;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    border : 0px;
    z-index: 1000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}

.navbar-default .navbar-nav>li>a {
    color: #38001C;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #38001C;
    background-color: #FFA340;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:active {
    color: #FFA340;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px;
}

#burgerBtn {
    border: 0px;
}

#navH {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    z-index: 2000;
}

#imgAccueil {
    position: relative;
}

#imgAccueil img {
    margin: -79px 0px 0px 0px;
    width: 100%;
}

#catchword {
    position: absolute;
    top: 10%;
    text-align: center;
    font-size: 4em;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-shadow: 1px 1px 2px #2d2d2d;
}

#catchword span {
    font-size: 2em;
}

#discover {
    position: absolute;
    top: 60%;
    background-color: #017a74;
    color: #fff;
    border: 0px;
    box-shadow: 1px 1px 2px #3e3e3e;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#discover:hover {
    background-color: #046a65;
}

.panelContain a {
    text-decoration: none;
}

.panel {
    height: 300px;
    margin-top: 30px;
    border: #00C2BA 2px solid;
    border-radius: 12px;
}

.panel-heading {
    background-color: #00C2BA;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    height: 50px;
    color: #38001C;
}

.panel-heading h3 {
    padding-top: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
}

.panel-content {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    color: #046a65;
}

.indexPanel {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

#indexAbout {
    background: url('../img/read-more.png');
    width: 48px;
    height: 48px;
    margin: auto;
}

#indexAbout:hover {
    background: url('../img/read-more-h.png');
}

#indexObs {
    background: url('../img/add-location-point.png');
    width: 48px;
    height: 48px;
    margin: auto;
}

#indexObs:hover {
    background: url('../img/add-location-point-h.png');
}

#indexConsult {
    background: url('../img/map_marker.png');
    width: 48px;
    height: 48px;
    margin: auto;
}

#indexConsult:hover {
    background: url('../img/map_marker-h.png');
}

#indexSubscribe {
    background: url('../img/creer-un-compte.png');
    width: 48px;
    height: 48px;
    margin: auto;
}

#indexSubscribe:hover {
    background: url('../img/creer-un-compte-h.png');
}

#indexConnect {
    background: url('../img/login.png');
    width: 48px;
    height: 48px;
    margin: auto;
}

#indexConnect:hover {
    background: url('../img/login-h.png');
}

#indexBlog {
    background: url('../img/news.png');
    width: 48px;
    height: 48px;
    margin: auto;
}

#indexBlog:hover {
    background: url('../img/news-h.png');
}

.backTop {
    width: 60px;
    height: 60px;
    margin: 15px auto;
    border-radius: 90px;
    background-color: #017a74;
    position: relative;
}

.backTop a {
    color: #fff;
    font-size: 2em;
    position: absolute;
    top: 16%;
    left: 26%;
}

.backTop:hover {
    background-color: #046a65;
}

.footer {
    display: flex;
    align-items: center;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    background-color: #38001C;
    text-align: center;
}

.footer a {
    color: #FFA340;   
    list-style: none;
    text-decoration: none;
}

#mentions,
#copyright,
#networks {
    padding: 20px 0px;
}

#mentions {
    margin-bottom: 10px;
}

#networks a {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .navbar-default {
        font-size: 1em;
    }
    .nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    #logo {
        width: 200px;
        margin-left: 9%;
    }
    #catchword {
        font-size: 3.5em;
    }
    #catchword span {
        font-size: 2em;
    }
    #discover {
        top: 60%;
    }
    .panel {
        height: 350px;
    }
}

@media screen and (max-width: 850px) {
    #logo {
        width: 160px;
    }
    #catchword {
        font-size: 2.5em;
    }
    #catchword span {
        font-size: 2em;
    }
    .panel {
        height: 380px;
    }
    .panel-heading h3 {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 767px) {
    #navH {
        display: none;
    }
    .navbar-default {
        height: 60px;
    }
    .navbar-brand {
        padding-top: 7px;
    }
    .navbar-header,
    .navbar-default .navbar-toggle:focus {
        background-color: rgba(255, 255, 255, 0);
        border: 0px;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: #eee;
    }
    #navCollapse {
        height: 280px;
        width: 100%;
    }
    #bgNav {
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    }
    #imgAccueil {
        margin-top: -49px;
    }
    #imgAccueil img {
        margin-top: 0px;
    }
    #catchword {
        top: 25%;
        font-size: 2em;
    }
    #catchword span {
        font-size: 2em;
    }
    #discover {
        top: 70%;
        right: 33.3%;
    }
    .panel {
        height: 250px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    .panelContain {
        padding: 0px;
    }
    .panel-heading {
        border-radius: 0px;
    }
    .panel-heading h3 {
        font-size: 1.5em;
    }
    .backTop {
        margin-top: 30px;
    }
    #mentions,
    #copyright,
    #networks {
        padding: 0px;
    }
    .search {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 768px) {
    #navCollapse {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    .navbar-default .navbar-form {
        height: 79px;
        border: 0px;
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-brand {
        position: absolute;
        top: 0px;
        left : 0px;
    }
    #burgerBtn {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #logo {
        width: 120px;
        margin-left: 9%;
    }
    #imgAccueil {
        overflow: hidden;
    }
    #imgAccueil img {
        height: 280px;
        width: auto;
    }
    #catchword {
        top: 20%;
        font-size: 1.7em;
    }
    #catchword span {
        font-size: 1.7em;
    }
    #catchword {
    }
    #discover {
        font-size: 1em;        
    }
    .indexPanel {
        bottom: 20px;
        right: 20px;
    }
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.formErrorMess {
    text-align: center;
    font-size: 0.85em;
    font-weight: 500;
    color: firebrick;   
}



/*************** Blog ***************/

.blogContainer{
    margin-top: 30px;
}
.blogArticle{
    padding: 20px;
    background-color: rgba(255, 255,255, 0.8);
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 13px #9F9F9F;
    clear: both;
}
.blogArticle .blogTitle{
    margin-top: 0px;
    color: #017a74;
}

.blogArticle a{
    color: #017a74;
}
.blogButton{
    text-align: right;
    margin-bottom: 0px;
    margin-top: 20px;
}
.blogButton .btn{
    background-color: #017a74;
    color: white;
    border: 0;
}
.blogButton .btn:hover{
    background-color: #046a65;
}
.blogContent{
    margin-top: 20px;
}
.blogComment, .blogCommentList{
 margin-top: 30px;
}
.blogCommentList b{
 color: #017a74;
}
.comment{
    margin-top: 20px;
}
.blogContainer form{
    margin-bottom: 20px;
}

.blogContainer .input-group .btn{
    background-color: #017a74;
    color: white;
    border: 0;
}
.blogButton .input-group .btn:hover{
    background-color: red;
}
.blogDate{
    margin-bottom: 25px;
}
.blogArticle .row div{
    padding: 0px 15px;
}
.blogArticle .row img{
    margin-bottom: 10px;
}
.buttonArticle, .button{
    margin-top: 10px;
    background-color: #017a74;
    color: white !important;
    border: 0;
}
.buttonArticle:hover, .button:hover{
    background-color: #046a65;
}
.blogContainer .input-group{
    margin-bottom: 20px;
}

.blogContainer form ul {
    list-style: none;
    padding: 0;
    text-align: right;
}
.pageTitle {
    color: #38001C;
    text-align: center;
}
.login{
    background-color: rgba(255, 255,255, 0.8);
    border-radius: 9px;
    border: 1px solid #017a74;
    padding: 20px;
}
.center{
    text-align: center;
}
.button {
    min-width: 90px;
    height: 40px;
    box-shadow: 1px 1px 7px #515151;
}
.loginInput{
    border-radius: 9px;
    border-color: #017a74;
}
.green {
    color: #017a74;
}
.mb-0{
    margin-bottom: 0px;
}
@media screen and (max-width: 400px){ 
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:50% 50%;
        -webkit-transform-origin:0 0;
    } 
}
.g-recaptcha {
    display: inline-block;
}


/*************** Observation ***************/

.titlePage {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #38001C;
    font-weight: 700;
}

.search {
    background-color: rgba(255, 255, 255,0.5);
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow:  0px 0px 7px #5f5f5f;
    color: #555;
    font-size: 1.1em;
}

#oc_platformbundle_observation_date {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 0.9em;
    border: 1px solid #ccc;
}

.upload .browse input[type='file']{
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    height: 1px;
    width: 1px;
    z-index: -5;
}

.fileSelectButton {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    color: #017a74;
    font-size: 3em;
    margin-top: -20px;
    margin-left: -20px;
    padding-left: 20px;
    
}

.fileSelectButton:hover {
    color: #046a65;
}

.myCheckbox {
    margin-top: -20px;
}

.myCheckbox input {
    height: 18px;
    width: 18px;
    margin-left: 5px;
    vertical-align: text-bottom;
}

#google-maps {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow:  0px 0px 7px #5f5f5f;

}

#google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


/*************** profil ***************/

.profilCaseTitle{
    margin-top: 0;
    text-align: center;
    margin-bottom: 25px;
}
.erase{
    border:0;
    background: none;
}
.modal{
    z-index:2001;
}
.black{
    color: black;
}
.tableMaxHeight{
    max-height: 540px;
    overflow: auto;
}
.profilNav li a{
    background-color: rgba(255, 255,255, 0.8);
    color: #017a74;
}
.profilNav .active a{
    background-color: #017a74 !important;
    color: white;
}
.blogMaxHeight{
    max-height: 300px;
    overflow: auto;
