{% trans_default_domain 'FOSUserBundle' %}

	<div class="container bodyContent">

		<h1 class="titlePage mt-30 mb-50">Oubli mot de passe</h1>
		<div class="login">

			<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
				<div class="form-group">
					<label for="username">{{ 'resetting.request.username'|trans }}</label>
					<input type="text" id="username" name="username" required="required" class="form-control"/>
				</div>
				<div class="right">
					<input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btnNaoGreen" />
				</div>
			</form>
		</div>
	</div>
